<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>CounterPath</param-name>
        <param-value>count.txt</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.servlet.CounterListener</listener-class>
    </listener>
   
    <servlet>
        <servlet-name>InitParamServlet</servlet-name>
        <servlet-class>com.servlet.InitParamServlet</servlet-class>
        <init-param>
            <param-name>FileType</param-name>
            <param-value>image</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitParamServlet</servlet-name>
        <url-pattern>/InitParamServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
